*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body{
  background-color: rgb(238, 238, 238);
}

nav{
  height: 65px;
  width: max;
  background-color: white !important;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(12 , 1fr);
  grid-auto-rows: 100px;
  
}

.nav-img{
  margin-top: 8px;
  grid-column: 1/13;
  grid-row: 1;
}

.nav-search{
  margin-top: 8px;
  grid-column: 4/13;
  grid-row: 1;
}

nav .nav-button{
  margin-top: 10px;
  grid-column: 11/13;
  grid-row: 1; 
}

.search-bar{
  width: 500px;
  height: 45px;
  background-color: rgb(248, 248, 248);
  border: 2px solid rgb(139, 168, 248);
  border-radius: 20px;
  padding-left: 10px;
  font-size: large;
}

.search-icon{
  height: 45px;
  width: 40px;
  border: 2px solid rgb(139, 168, 248);
  border-radius: 10px;
  font-size: large;
}

.login{
  height: 38px;
  width:  90px;
  border: 2px solid rgb(34, 91, 250);
  background-color: white ;
  border-radius: 10px;
  font-size: medium;
  font: 900;
  color: rgb(34, 91, 250);
}

.signup{
  height: 38px;
  width:  90px;
  background-color: white ;
  border: 2px solid rgb(34, 91, 250);
  background-color: rgb(34, 91, 250);
  border-radius: 10px;
  font-size: medium;
  font: bold;
  color: white;
}

.dropdown{
  height: 30px;
  width: 40px;
  border: 2px none white;
  font-size: medium;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}